.ensign {
  color: inherit;
  display: block;
}

.ensign__scope {
  background: var(--platform, var(--ink));
  color: var(--paper);
  font-size: 0.75rem;
  padding: 0 0.25rem;
  width: max-content;
}

.ensign__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
  display: inline;
}

.ensign__title small {
  font-size: 0.725rem;
}

.ensign__description {
  margin-top: 0;
}

.ensign__description--provisional {
  opacity: 0.75;
}

.ensign__id {
  color: #72777d;
  user-select: all;
  font-family:
    Linux Libertine,
    Georgia,
    Times,
    serif;
  font-size: 1.14rem;
}

.ensign__id__link {
  color: inherit;
  cursor: inherit;
}

.ensign__id__link:hover {
  text-decoration: none;
}

.ensign__id:before {
  content: '(';
}

.ensign__id:after {
  content: ')';
}

.ensign__description-form {
  justify-content: stretch;
  display: flex;
}

.ensign__opener {
  opacity: 0;
}

.ensign__opener:after {
  content: ' â ';
}

:hover > .ensign__opener {
  opacity: 1;
}

.ensign__opener:hover {
  text-decoration: none;
}
