.choose__picker {
	border: 1px solid #a2a9b1;
 	border-radius: 2px;
 	background: white;
}

.choose__picker__pick {
	padding: 8px 12px;
	background: white;
	display: block;
	color: black;
}
.choose__picker__pick:hover,
.choose__picker__pick--active {
	text-decoration: none;
	background: #EAECF0;
}

.choose__picker__pick-title {
	font-weight: bold;
}


template.choose__picker__pick {
	display: none;
}