.choose {
	border: 1px solid var(--border);
	border-radius: 2px;
}

.choose__picker {
	background: white;
	border-top: none;
}

.choose__picker__pick {
	padding: 8px 12px;
	display: block;
	color: inherit;
}

.choose__picker__pick:hover {
	text-decoration: none;
}

.choose__picker__pick--active {
	background: #eaecf0;
}

.choose__picker__id {
	opacity: 0;
}

.choose__picker__pick--active .choose__picker__id {
	opacity: 1;
}

.choose__picker__pick-title {
	font-weight: bold;
}

template.choose__picker__pick {
	display: none;
}

.choose__type-wrap {
	display: grid;
	grid-template-areas: 'stack';
}

.choose__type {
	grid-area: stack;
	border: none;
}

.choose__value {
	grid-area: stack;
	opacity: 0;
	pointer-events: none;
}

.choose__type:focus {
	outline: none;
}

.choose__id {
	margin: 3px 3px 3px auto;
	grid-area: stack;
	padding: 8px;
	background: var(--input-paper);
}
