.choose__picker {
	border: 1px solid #a2a9b1;
 	border-radius: 2px;
 	background: white;
 	border-top: none;
}

.choose__picker__pick {
	padding: 8px 12px;
	background: white;
	display: block;
	color: black;
}
.choose__picker__pick:hover,
.choose__picker__pick--active {
	text-decoration: none;
	background: #EAECF0;
}

.choose__picker__id {
	opacity: 0;
}

.choose__picker__pick--active .choose__picker__id {
	opacity: 1;
}


.choose__picker__pick-title {
	font-weight: bold;
}


template.choose__picker__pick {
	display: none;
}

.choose__type--picker-open {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.choose__type-wrap {
	display: grid;
	grid-template-areas: 'stack';
}

.choose__type {
	grid-area: stack;
}

.choose__id {
	margin: 3px 3px 3px auto;
	grid-area: stack;
	padding: 8px;
	background: white;
}
