:root {
  --paper: #f8fafb;
  --real-paper: white;
  --input-paper: white;
  --active-paper: #eaecf0;
  --ink: #222222;
  --ink__light: #595959;
  --link: #3366cc;
  --mark: #eaf3ff;
  --code: #c8ccd1;
  --border: #a2a9b1;
  --contour: #eaecf0;
  --shadow: #00000011;
  --icon-flood: brightness(0) saturate(100%) invert(48%) sepia(2%)
    saturate(1347%) hue-rotate(173deg) brightness(93%) contrast(69%);
  --background: #fff;
}

@media (max-width: 300px) {
  :root {
    scrollbar-width: thin;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper: #27292d;
    --real-paper: #2e3136;
    --input-paper: black;
    --active-paper: #27292d;
    --ink: #f7f8f9;
    --ink__light: #b4b4b4;
    --link: #7198f7;
    --mark: #27292d;
    --border: #a2a9b1;
    --code: #55595d;
    --contour: #27292d;
    --shadow: #f7f8f911;
    --icon-flood: brightness(0) saturate(100%) invert(91%) sepia(6%)
      saturate(195%) hue-rotate(164deg) brightness(93%) contrast(83%);
    --background: #2e3136;
  }
}

html {
  scroll-behavior: smooth;
  hyphens: auto;
}

@font-face {
  font-family: 'icons';
  src: url('res/icons.woff2');
  unicode-range: U+1F50D, U+1F58A, U+2713, U+274C, U+FE0E;
}

@font-face {
  font-family: 'pIqaD';
  src: url('data:font/woff;charset=utf-8;base64,d09GMgABAAAAAAg4AA8AAAAAFJwAAAfaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGiQbMByBQgZWAIJSEQgKl0SQagtsAAE2AiQDgVQEIAWENweBfRvNDzOjwsYBICgvQPZfJmhHmPYuzIKJJm5FWcZQKbgVCrpRoisp+wC63ZckXYLmyWB/j7ZJEMVc1TNJDgCjDoGXD1G4J/3qywMLBaSB5Eu2wOtX03r725mtjEOUvgG7Uo9THjmhOyPPFnfu1w4RqWy68LTMuR00Yg5oD+9+duMIUA90QL7Gh+z/79fbar93vd+XO0SDhCIJiI9spOV8KBjBfG11LplwAHACKZr/+fAR8H9rrd4gYkkHad7JJAiNEnf/nc8JMIfLLOLerJF4JA1F1EsmQSjkTm2EmFjGJuHw2LwKa4/OWwEC8DpJRAO8e3HpwmMChFGUplSxuUEuQh4VKKZOSL5MCAUUoR1dAxNEbDoOt0lKWojfDxUd2Ogl9BmmSNhQqTG1x17oQIRf8zmIA4RggmkvBBFv6TGhJGGTQxEV1NFCFwOMMUMRhtLkU/sylJQKwxLDYsMKw0LDAsNywzwHQY7U8xIWmPHaAhzQ75eL5PAaFMsguNWIt9NNy8/n6ICf06f/qGOTAYavSdPQABFhb1KiDFKNFX5+sgd8xfO5rGNgeWBhYB4CzZIA6qnoXOqG/S6EIPJcMsRvrA0r0bpnK+gHa/NmxCAiSquF/qdIpcuIHmVSpjIGouum8gBY5e3iPMWaMgb7pkebB7lwWszX6y0zS8Waffr5YrF49tzcIj58ZKZ4Fh+klzFtFzvpi7plT8a+EzFRajFgdFDXaoDjY6Tk3FAV7ItgEA5onbIrS0DghnZxgXna5YDLSuEwuUlfKhla4tfOYt5xgBbEdRCjFrcvbiAB5JOrGEspHJO7dpCGTBShGtuv3iSLjWtacHOsVdfvKDqd3VgJrAKJk3VS/jaEKYr5FwdOes943kiQnkM9wZmJqNdtJZOhTrDw9pJH7lIKYhP/Ed9NhFm/xKzTgaUGUFXj91ZVTwL1YnkC7USi8yU8KYxuTib5H4jH0lHoEIxxk2RLBP7xXWdSw7zocoXrHdhvDApRkda4jFNmfBplcA+wm05V4OZsn6ybfEOcfok5wJWkqa7m6uQ6TS0+h6zJ5EWjOrSUwGNqTqrSZOWiop7LewUQkun98yd2dD4EYfJRpAo1iMnxYcoGPbV14L5opnk3q+ZNJ3rcXDYlDphjtzDXULsptE/ObqBZSf0NdIne/IbpvDePNcSqGT/t5Dp4qm6kqaeZOCW8Wo5yfO7nPJ77+T4k4f9AO0geEPj/weEciFGklIseDEYDWTMWgHYRIqjuDg6nYZry9ZvDIYM2KwPnKq5tXGvHUm2xAKY0AqFtWVhhDAwCIEDCotUyrWIZ8OuaxtgAczIwV1SXKjl19Mho1afJNOwPh0UAADRH1Gk6Vf7rcKj5FHPOGUZjHFC9oBZIBYBKfxeIOKNHcG8YarMLPFrbCiykWNKD2jT1JYBtIZO1FCx0c1EgIs3dBvqc1gmEu/YHmovIAAXcK39iSgD5jnE2jqYhpcJgwKkdAR5fttW1Cb8gcWQZUgpqbbsIsjtNu64IDIEVuSii6fejR1aZ8dCrzwYNFZx9pJ64fPzAPe/ufP30y/RBqtqV80E74iiiA6oScYe6GCxbpk9H++23q4GrawGcMRoi4g/5LPYz52cvQ5G0wyeXAc6MREd3DoweF/1RR6FJQ5sIKaVO2Gz2+9zd52whNCiUoq/Q0Bx7YVgGw+kic9Kc4IgMZSEuLNqLThgGcYJmAYb0MssCLkk08yhIRegp51JiK07cjmMAYymRpVSDjj8K1K7QC6vDoTPMOFEHEaGlUJzSsZ8oz/nKyXyclzf52KVU5uiRsgVE8n6/2QTV87KYlEB+FUwXcZpF3gQmApHyUtEJq4Yv5rmjXBG8SL4CUkLOrCJrgkIMIVvVJdMsZcgAyFLkKNju88JNw6khvJQaxhlI1ldDXIzX7j86eXi4OiZuq3J+FwBqR/PlOa06FtzqgmOH5OEg21V4GMF8q9148eQvWwOAbG64KYofulZY0K07+QJzyL3/Y0VYGZYeadzbMP5njox5RMrCXu3vv/3hxx/XZg4uW7MhZ68Q+pXlyD0LlrZdddT/dCpGZqyl2i5mlqYjgsZ4dPt8TkJhBGqRX55U+/5iVxq+bWB8PJ6uin9kNab/BAqyBwjHgoyAHSiQMd4lsK6kigyCcVuij8FrSNd/BB1kj0DPNaJHPOWTndJ1kMeRdF15wAbHlCCKxLQPWAlOfdANynEppV4cOeMr1bNB3lHfHjRC96C/uXyFHDC91TsGOeZr6kuqdO5hLkGudZ/0JL31u5EiY5VmYwBTIERh8ENWFM+O9TOCiathJZAibBBMHzKNV7FFKBdwAEFcxSHkSzALJVYWnXgxNRQjYViJIAMbxFCFTOMJbJHAPg4giss4hCnu7RdKllTSQS/b2OyW9tvDQQd09G7bu0/tOeRxY3jwccQmDvbhi7Gjp40+JWw2hYd9DlhjB1G3lCJK4IpzRmlRSdvdCamBusm2H9jBIR7cj3dyhs0Bx/go45BDvNh42WeHLWy6egNI5aYiO4MF0cp1bTkXhxTB4wrVD9RXdijea9TwZg5cKpL9wyANVrvPdqmjWA3n7XJaEa5+ariEqPG2DOfgc4Ae1He/Iv0fI6joHM1pQUta0Zo2tCUmUKREmQqdYUIZF1JpY50PMeVSWx9zWbf9OK/7eb8fVDYCMACKXWRXBgAAAA==');
  unicode-range: U+F8D0-F8E9, U+F8F0-F8F9, U+F8FD-F8FF;
}

@font-face {
  font-family: 'Gulzar';
  src: url('res/Gulzar.woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1,
    U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF,
    U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4,
    U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27,
    U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49,
    U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B,
    U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72,
    U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B,
    U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}

@font-face {
  font-family: cc-icons;
  src: url('res/cc-icons.woff2');
}

@font-face {
  font-family: FairfaxHaxHD;
  src: url('res/FairfaxHaxHD.ttf');
  unicode-range: U+F1900-F19FF;
}

@font-face {
  font-family: 'SuttonSignWritingLine';
  src: url('res/SuttonSignWritingLine.woff2');
}

@font-face {
  font-family: 'SuttonSignWritingFill';
  src: url('res/SuttonSignWritingFill.woff2') format('woff2');
}

@font-face {
  font-family: 'SuttonSignWritingOneD';
  src: url('res/SuttonSignWritingOneD.woff2') format('woff2');
}

:root {
  --plain: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Lato',
    'Helvetica', 'Arial', pIqaD, FairfaxHaxHD, cc-icons, sans-serif;
  --fancy: Linux Libertine, Georgia, Times, pIqaD, FairfaxHaxHD, serif;
  --mon: 'Menlo', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  font-family:;
  line-height: 1.2;
  margin: 0;
  font-size: 14px;
}

:lang(ur),
:lang(pnb),
:lang(skr),
:lang(bcc),
:lang(bgn),
:lang(bal),
:lang(bgp) {
  /* Punjabi uses Nastaliq for Arabic script */
  --font-preferred: 'Gulzar', var(--plain);
}

@media (max-width: 260px) {
  :root {
    font-size: 5vw;
  }
}

body {
  /* overwrite firefox user agent css */
  user-select: text;
  font-size: 1rem;
}

body {
  background: var(--paper);
  color: var(--ink);
}

mark {
  background: var(--mark);
  display: inline-block;
  padding: 0 0.25em;
}

a:hover {
  text-decoration: underline;
}

svg,
text {
  text-decoration: inherit;
}

a {
  color: var(--link);
  hyphens: manual;
  text-decoration: none;
}

ruby:lang(tlh) {
  font-family: pIqaD, monospace;
}

[hidden] {
  display: none !important;
}

img {
  max-width: 100%;
}

audio,
video {
  width: 100%;
}

.placeholder {
  color: #eaecf0;
  white-space: break-word;
  font-size: 0.6rem;
}

.url {
  word-wrap: anywhere;
}

h1 {
  font-family: var(--fancy);
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--fancy);
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5em 0;
  margin-top: 1.5rem;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
}

ul > li:not(:last-child) {
  margin-bottom: 0.7rem;
}

ol {
  padding-left: 2.25rem;
}

ol > li {
  margin-bottom: 0.7rem;
}

li:target {
  background-color: var(--mark);
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.35rem;
  line-height: 1;
}

code {
  font-family: var(--mono);
  border: solid 0.07rem var(--code);
  white-space: nowrap;
  padding: 0.05rem 0.5rem;
  display: inline-block;
  max-width: calc(100% - 1rem);
  font-size: 0.8rem;
  overflow: auto;
  scrollbar-width: thin;
  vertical-align: bottom;
  user-select: all;
}

sup {
  font-size: 0.7rem;
  line-height: 1;
}

.submit-actions {
  margin-top: 1rem;
}

summary {
  outline: none;
  user-select: none;
}

blockquote {
  border-left: 3px solid #c8ccd1;
  font-family: var(--fancy);
  font-size: 1.1rem;
  overflow: hidden;
  margin: 1em 0;
  padding: 0 1em;
}

h2,
h3 {
  text-transform: capitalize;
}

h3 > a {
  color: inherit;
}

section {
  margin: 1em 0;
}

math {
  font-family: inherit;
}

math[display='block'] {
  padding: 2rem 1rem;
  background: #f8f9fa;
  font-size: 1.5rem;
  border: 1px solid #eaecf0;
}

@media (prefers-color-scheme: dark) {
  math[display='block'] {
    background: #27292d;
    border-color: #44464a;
  }
}

mrow + munder {
  pointer-events: none;
}

small {
  font-size: 0.75rem;
  line-height: 1;
}

[type='checkbox'] {
  background-color: var(--input-paper);
  box-sizing: border-box;
  width: 1.42857143rem;
  height: 1.42857143rem;
  border-color: var(--border);
  border-style: solid;
  border-radius: 0.14rem;
  border-width: 0.071rem;
}
