<div class="main">
	{% if back %}
		<nav class="main__bar">
			<button class="main__back">←</button>
		</nav>
	{% endif %}
	<main class="main__content">
		{% if state.activity == 'view' %}
			{% for entity in entities %}
				{% if entity.active %}
					{% include 'entity' with entity.data %}
				{% endif %}
			{% endfor %}
		{% elseif state.activity == 'select' %}
			{% include 'pick' with entities %}
		{% elseif state.activity == 'match' %}
			{% include 'match' with { instances: state.candidates } %}
		{% endif %}
	</main>
</div>