<div class="main">
	{% if back %}
		<nav class="main__bar">
			<button class="main__back">←</button>
		</nav>
	{% endif %}
	<main class="main__content">
		{% if state.activity == 'view' %}
			{% for entity in entities %}
				{% if entity.active %}
					{% include 'entity' with entity.data %}
				{% endif %}
			{% endfor %}
			{% if state.others %}
				Other less specific entities:
				<ul>
				{% for other in state.others %}
					{{ debug(other) }}
					<li>{% include 'thing' with { globalID: other } %}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% elseif state.activity == 'select' %}
			{% include 'pick' with entities %}
		{% elseif state.activity == 'match' %}
			{% include 'match' with { instances: state.candidates } %}
		{% endif %}
	</main>
</div>