<main>
	{% if activity == 'view' %}
		{% for entity in entities %}
			{% include 'entity' with entity.data %}
		{% endfor %}
	{% elseif activity == 'choose' %}
		<nav>
			asd
		</nav>
	{% endif %}
</main>