main {
  background: white;
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  main {
    background: #2E3136;
  }
}

.main__content {
  background: var(--paper);
  padding: 1em;
}

.main__bar {
  padding: 1em;
  background: ThreeDFace;
}