<main>
	{% if activity == 'view' %}
		{% for entity in entities %}
			{% if entity.active %}
				{% include 'entity' with entity.data %}
			{% endif %}
		{% endfor %}
	{% elseif activity == 'select' %}
		{% include 'pick' with entities %}
	{% endif %}
</main>