.element-visual {
	position: absolute;
	background: none;
	border: none;
}

.element-visual::before {
	content: '';
	position: absolute;
	inset: -3px;
	pointer-events: all;
	cursor: pointer;
	border: 2px solid #447ff5;
	border-radius: 5px;
	box-shadow:
		0 0 3px rgba(0, 0, 0, 0.25),
		0 0 3px rgba(0, 0, 0, 0.25) inset;
	transition: inset 0.25s;
	animation: 0.25s 0s appear;
}

.element-visual--active::before {
	border-color: #4da679;
}

.element-visual:hover::before,
.element-visual--hovered::before {
	inset: -6px;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale3d(1.25, 1.25, 1.25);
	}

	50% {
		opacity: 1;
	}
}
