.chart {
	border: 1px solid #a2a9b1;
	width: 100%;
}

.chart__verb {
	vertical-align: top;
	padding: 0.25em;
	background-color: #e6e6ff;
	text-align: left;
	font-weight: normal;
	font-size: 0.75em;
}

.chart__object {
	padding: 0.25em;
	vertical-align: top;
}
