.appoint {
	background-color: var(--background-color-base, #fff);
	color: var(--color-base, #202122);
	border-color: var(--border-color-base, #a2a9b1);
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px var(--box-shadow-color-transparent, transparent);
	transition-property: background-color, color, border-color, box-shadow;
	transition-duration: 0.25s;
	line-height: 1.375;
	font-size: 1em;
	font-weight: 400;
	display: grid;
	grid-template-columns: 1fr auto;
}

.appoint--focus {
	border-color: #36c;
	outline: 1px solid transparent;
	box-shadow: inset 0 0 0 1px #36c;
}

.appoint__picker {
	width: 1.75em;
	background: transparent;
	border: none;
	outline: none;
}

.appoint__type {
	border: none;
	background: transparent;
	color: inherit;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	padding: 0.4em;
	hyphens: none;
	outline: none;
	vertical-align: bottom;
	min-height: 1.5rem;
	padding: 0.75rem;
}

.appoint__precision {
	border: none;
	background: transparent;
	color: inherit;
	padding: 0.5em;
	font-size: 0.75rem;
}
