.change {
	background: var(--paper);
	border: 1px solid var(--contour);
	margin: 0;
	padding: 7px 10px;
}

.change:not(:first-child) {
	border-top: none;
}

.change__preview {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto auto;
	grid-gap: 1em;
	grid-template-areas:
		'check key'
		'check value';
}

.change__key {
	grid-area: key;
}
.change__key a {
	color: inherit;
}

.change__bool {
	grid-area: check;
	margin: 0;
}

.change__value {
	grid-area: value;
	margin: 0;
}
