.change {
	background: var(--paper);
	border: 1px solid var(--contour);
	margin: 0;
	padding: 7px 10px;
}

.change:not(:first-child) {
	border-top: none;
}

.change__preview {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto auto auto;
	grid-gap: 1em;
	grid-template-areas:
		'check key'
		'check value'
		'check references';
}

.change__key {
	grid-area: key;
}
.change__key a {
	color: inherit;
}

.change__bool {
	grid-area: check;
	margin: 0;
}

.change__value {
	grid-area: value;
	margin: 0;
}

.change__references {
	font-size: 0.75rem;
	grid-area: references;
	margin: 0;
}

.change__value {
	display: grid;
	grid-template-columns: 1fr auto;
}

.change__toggle {
	margin-top: 0.5rem;
	margin-bottom: auto;
	cursor: pointer;
	color: inherit;
	background: transparent;
	border: none;
	font-family:
		'icons',
		-apple-system,
		'BlinkMacSystemFont',
		'Segoe UI',
		'Roboto',
		'Lato',
		'Helvetica',
		'Arial',
		'pIqaD',
		FairfaxHaxHD,
		cc-icons,
		sans-serif;
}

.change__toggle:hover {
	color: var(--link);
}

.change__reference__prop {
	font-weight: bold;
}

.change__reference__prop a {
	color: inherit;
}

.change__reference__snak {
	margin: 0;
	padding: 0;
}

.change__reference {
	margin-left: 1em;
	+ .change__reference {
		margin-top: 1em;
	}
}
