.entity {
	margin: 0;
}

.entity__head,
.entity__body {
	margin-block: 1em;
	padding-inline: var(--layout-inset, 1em);
}

/* Applies for non-mediainfo entities */
.entity__head:first-child {
	padding-top: 1em; 
	margin-top: 0;
}