.forms__table {
  background-color: var(--paper);
  margin:1em 0;
  border:1px solid var(--border);
  border-collapse:collapse;
  width: 100%;
}

.form__cell {
  padding: 3.2px 6.4px;
  vertical-align: top;
  white-space: pre-wrap;
  border: 1px solid var(--border);
}

.form__cell--prefix {
  padding-inline-end: 0;
  border-inline-end: none;
  text-align: end;
  + .form__cell {
    border-inline-start: none;
    padding-inline-start: 0;
  }
}

.form__cell--prefix-header {
  text-align: end;
}

.form__cell--bottom {
  vertical-align: bottom;
}

th.form__cell {
  background-color: var(--active-paper);
  > a {
    color: inherit;
  }
}

.forms__extra {
  display: flex;
  grid-gap: 1em;
  flex-wrap: wrap;
}

.forms__extra__form__caption {
  background-color: #e6e6ff;
  margin-top: auto;
  padding: 1em;
  overflow: hidden;
}

.forms__extra__form__caption__id {
  float: right;
}

.forms__extra__form {
  display: inline-block;
}

.forms__extra__form {
  border: 1px solid var(--border);
}

.forms__extra__form__text {
  font-family: var(--fancy);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1em;
  > a {
    color: inherit;
  }
}