
/* Only apply italics to languages that commonly use them */
.gloss__transitivity {
	&:lang(en),
	&:lang(fr),
	&:lang(de),
	&:lang(es),
	&:lang(it),
	&:lang(pt),
	&:lang(nl),
	&:lang(ru),
	&:lang(uk),
	&:lang(el) {
		font-style: italic;
	}
	/* in case this ever becomes a black list again, here is a list of languages that don't use italics: :lang(zh), :lang(ja), :lang(ko), :lang(pa) */
}
