.grasp {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.5em;
}

.grasp__gloss {
	margin: 0;
}

.grasp__id {
	grid-column: 1;
}

.grasp__gloss,
.grasp__subsenses {
	grid-column: 2;
	margin: auto 0;
}
