.id {
	color: var(--id);
	user-select: all;
	cursor: default;
	&::before {
		content: '(';
	}
	&::after {
		content: ')';
	}
	&:hover {
		text-decoration: none;
	}
}

.id__context {
	position: absolute;
	opacity: 0;
	top: 1em;
}
