.match {
	margin: 1em;
}

.match__statement {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		'check key'
		'check value';
	grid-gap: 1em;
	background: var(--paper);
	border: 1px solid var(--contour);
	padding: 7px 10px;
	margin: 0;
}

.match__statement:not(:first-child) {
	border-top: none;
}

.match__statements {
	margin-bottom: 1em;
}

.match__bool {
	grid-area: check;
	margin: 0;
}

.match__key {
	grid-area: key;
}
.match__key a {
	color: inherit;
}

.match__value {
	grid-area: value;
	margin: 0;
}

.match__bottom {
	margin-top: 1em;
}

.match__instance {
	background-color: var(--real-paper);
	border: 1px solid var(--contour);
}

.match__instance:not(:first-child) {
	margin-top: 0.5rem;
}

.match__form {
	padding: 0.714rem;
}

.match__instance-name {
	padding: 0.714rem;
	list-style: none;
	cursor: pointer;
}
