.peek {
	position: sticky;
	inset: auto 0 0 0;
	width: 100vw;
	border: none;
	box-shadow: 0 -1em 1em var(--shadow);
	border-top: 1px solid var(--contour);
	height: 50vh;
	overflow: auto;
	background: var(--paper);
	color: var(--pen);
}

.peek__footer {
	margin-top: 1em;
}

.peek__head {
	display: flex;
	justify-content: space-between;
}

.peek__close {
	font-family: 'icons', sans-serif;
	background: transparent;
	border: none;
	color: inherit;
}
