.pic__placeholder {
	vertical-align: bottom;
	display: block;
}

.pic__placeholder--loading {
	aspect-ratio: var(--pic-aspect-ratio);
}

.pic--scaleable {
	padding: 1em;
	box-sizing: border-box;
	display: block;
}

.pic--scaleable > .pic__placeholder {
	width: 100%;
}