.resolving-progress {
	padding: var(--layout-inset, 1em);
	min-height: 100vh;
	box-sizing: border-box;
}

.resolving-progress__list {
	list-style: none;
	padding: 0;
	margin: 1rem 0;
}

.resolving-progress__wikibase {
	margin-bottom: 1.5rem;
}

.resolving-progress__wikibase-name {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.resolving-progress__resolvers {
	list-style: none;
	padding: 0;
}

.resolving-progress__resolver {
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: .75em;

	&:not(:first-child) {
		border-top: 1px solid var(--border-color-base, #a2a9b1);
		padding-top: 1rem;
	}
}

.resolving-progress__description {
	grid-column: 2;

}

.resolving-progress__resolver--finished {
	opacity: 1;
}

.resolving-progress__resolver--not-applied {
	opacity: 0.4;
}

.resolving-progress__resolver--no-results {
	opacity: 0.6;
	background: var(--paper);
}

.resolving-progress__result-list {
	grid-column: 2;
	list-style-type: '→ ';
	padding: 0;
	margin-left: 1em;
}

.resolving-progress__results {
	grid-column: 2;
	font-size: 0.9rem;
}

.resolving-progress__error {
	grid-column: 2;
	border: 1px solid;
	padding: 0.5rem;
	border-radius: 4px;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: #d33;
}

.resolving-progress__error-message {
	font-weight: bold;
	margin-bottom: .5rem;
}

.resolving-progress__ignore-button {
	align-self: flex-start;
	font-size: 0.75rem;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
}

.resolving-progress__name {
	font-weight: bold;
	grid-column: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.resolving-progress__icon {
	grid-column: 1;
	font-family:
		'icons',
		-apple-system,
		'BlinkMacSystemFont',
		'Segoe UI',
		'Roboto',
		'Lato',
		'Helvetica',
		'Arial',
		'pIqaD',
		FairfaxHaxHD,
		cc-icons,
		sans-serif;
}