.title:lang(ja),
.title:lang(ko),
.title:lang(zh) {
	> i {
		font-style: normal;
	}
	> i::before {
		content: open-quote;
	}
	> i::after {
		content: close-quote;
	}
}

.title:lang(ja) {
	> i {
		quotes: '「' '」' '『' '』';
		display: inline-block;
		/* align the starting bracket with the table  */
		margin-inline-start: -0.75em;
	}
}

.title:lang(zh) {
	> i {
		quotes: '《' '》' '〈' '〉';
	}
}
