<ul class="register">
    {% for claim in claims %}
        <li class="register__item">
            {% for object in claim %}
                {% if loop.first %}
                    <strong class="register__label">
                        {% include 'thing' with { globalID: object.mainsnak.propertyGlobalID } %}
                    </strong>
                {% endif %}
                <div id="{{ object.id }}" >
                    {% include 'snack' with object %} 
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>