<dl class="remark remark--inline" id="{{ verb }}">
    <dt class="remark__verb">
        {% include 'thin' with { id: verb } %}
    </dt>
    {% for object in objects %}
        <dd id="{{ object.id }}" class="remark__objects">
            <div class="remark__object">
                {% include 'snack' with object %} 
            </div>
        </dd>
    {% endfor %}
</dl>