.remark {
  background: var(--paper);
  border: 1px solid var(--contour);
  line-height: 24px;
}

.remark__objects {
  margin: 0;
}

.remark:not(.remark--poster) {
  padding: 7px 10px;
}

.remark--poster {
  position: relative;
}

.remark--poster > .remark__verb {
  padding: 7px 10px;
  position: absolute;
  top: 0;
  background-color: color-mix(in srgb, var(--paper) 50%, transparent);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.25s;
}

.remark--poster .remark__qualifiers {
  padding: 7px 10px;
}

:hover > .remark__verb {
  opacity: 1;
}

.remark + .remark {
  border-top: none;
  margin-top: -1em;
}

@media (min-width: 300px) {
  .remark--inline {
    grid-template-columns: 1fr 2fr auto;
    display: grid;
  }
}

.remark__verb {
  min-width: 0;
  top: var(--top-offset, 7px);
  grid-area: span 2 / 1;
  font-weight: 700;
  position: sticky;
}

@media (max-width: 299px) {
  .remark__verb {
    margin: 0 0 0.75em;
  }
}

:not(.remark--poster) > .remark__objects {
  min-width: 0;
  grid-column: 2;
  margin: 0 0 0.5em;
  padding: 0;
}

.remark__check {
  grid-column: 3;
  margin: auto;
  padding: 0;
}

.remark--block > .remark__objects {
  margin: 0;
}

@media (max-width: 299px) {
  .remark__objects {
    margin: 0;
  }
}
